.about-section {
    margin-top: 500px;

    .title {
        display: inline;
        font-size: 30px;
        font-weight: 700;
        border-bottom: 1px solid #F07B3F;
        padding: 6px;

        span {
            color: #fa5500;
        }
    }

    .details {
        margin-top: 30px;
        font-size: 18px;
        margin-bottom: 0;
    }
    
}

@media only screen and (min-width: 859px) {

    .about-section {
        width: 839px;
    }

    .about-section.section {
        padding: 0 0 0 15%;
    }

}